@font-face {
  font-family: OpenSans;
  src: url("./OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("./OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url("./OpenSans-Light.ttf");
  font-weight: 300;
}

:root {
  --aqua: #7fdbff;
  --blue: #0074d9;
  --navy: #001f3f;
  --teal: #39cccc;
  --green: #2ecc40;
  --olive: #3d9970;
  --lime: #01ff70;

  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;

  --white: #ffffff;
  --silver: #dddddd;
  --gray: #aaaaaa;
  --black: #111111;

  --drop-icon: " \25BC";
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: OpenSans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: snow;
  z-index: 0;
}

#phrase {
  font-size: 48px;
  font-weight: bold;
  z-index: 0;
}

input {
  margin-top: 0.25em;
  border-radius: 0;
  border-width: 0;
  font-size: 40px;
  width: 100%;
  text-align: center;
  background-color: transparent;
  color: var(--gray);
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: lightgray;
}
::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: lightgray;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: lightgray;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: lightgray;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: lightgray;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: lightgray;
}

input:focus {
  border-width: 0;
}

hr {
  color: var(--gray);
  opacity: 0.5;
  border-width: 0.01px;
}

#help {
  margin-top: 1rem;
  font-weight: 300;
  color: var(--purple);
  font-size: 14px;
}

#info {
  position: fixed;
  bottom: 0;
  margin-bottom: 0.1em;
}

#drop-toggle {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid var(--black);
  margin-bottom: 0.75em;
}

#drop-toggle::after {
  content: var(--drop-icon);
}

#dropdown {
  display: none;
  max-height: 100000px;
  z-index: 10; /* not working */
  overflow: hidden;
  background-color: transparent;
  border: 1px solid var(--black);
  width: 30%;
  margin: 0 auto;
  padding-top: 0.25em;
}

#dropdown div {
  margin-bottom: 0.25em;
  padding: 0.25em;
}

#dropdown div:hover {
  background-color: white;
  font-weight: bold;
}

#dropdown div[selected="true"] {
  font-weight: bold;
  font-style: italic;
  background-color: white;
}
